#malla {
    text-transform: uppercase;
    width: 100%;
    border-collapse: separate;
    margin-top: 30px;
    font-size: 14px;
}

#malla .ramo {
    font-family: 'Open Sans';
    border: 1px solid #cbd0d7;
    display: inline-block;
    height: 130px;
    width: 115px;
    padding: 5px 0;
    margin: 1px 1px 0 1px;
    background-color: #d3d0cb;
    color: #393e41;
}

#malla .nombre, #malla .creditos {
    font-size: 9px;
    padding: 5px;
    display: block;
}

#malla .nombre, #malla .codigo {
    font-weight: bold;
}

#malla .codigo {
    margin-top: 5px;
    margin-bottom: 5px;
}

#malla td {
    text-align: center;
}

#malla td:nth-child(1) {
    width: 20px;
    height: 10px;
}

#malla tr:nth-of-type(4) td {
    margin-bottom: 10px;
}

#malla tr:nth-child(even) td {
    background-color: #dad2bc;
}

#malla .semester {
    background-color: #ffffff !important;
    transform: rotate(-90deg);
    z-index: -1;
}

#malla .simul {
    opacity: 1 !important;
    background-color: #82d173 !important;
}

#malla .req {
    opacity: 1 !important;
    background-color: #44bba4 !important;
}


#malla .or {
    opacity: 1 !important;
    background-color: #e7bb41 !important;
}

#malla .blur {
    opacity: 0.6;
}